@using TestTaskWaveAccess.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Actors";
}

<div class="text-center">
    <h1 class="display-4">Actors</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Birth Date</th>
            <th>Full name</th>
            <th>Bio</th>
        </tr>
        @foreach (Actor actor in Model.Actors)
        {
            <tr>
                <td>@actor.ActorId</td>
                <td>@actor.BirthDate</td>
                <td>@actor.FullName</td>
                <td>@actor.Bio</td>
            </tr>
        }
    </table>
</div>


<!--
<style>
    tr:nth-of-type(odd) {
        background-color: #ccc;
    }
</style>
-->